{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'poster/style.css' %}">

<div class='center'>
  <h1> Post detail </h1>
  <div class='list'>
    <div class='block'>
      <p> "{{ post.text }}" - {{ post.author }} </p>
    </div>
  </div>
  <p> posted {{ post.timestamp }} </p>
  <p> last modified {{ post.mod_time }} </p>

  <form action="{% url 'poster:detail' post.id %}" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="Submit" value="Edit">
  </form>

  <!-- the form here allows me to send a POST request -->
  <form action="{% url 'poster:delete' post.id %}" method="post">
      <input type="submit" value="Delete">
  </form>

  <a href="{% url 'poster:index' %}"> <button> Return to index </button> </a>
</div>
